# ignore maven build folder
target/

# pom-derived eclipse jdt files
.project
.classpath
org.eclipse.*.prefs

# Extras
.DS_Store
.vscode/*
.idea/
!.vscode/extensions.json

#intellij
workout-planner.iml