#Erlend
Erlend Løken Sæveraas <erlenlsa@stud.ntnu.no>
#Michael
Michael Brusegard <56915010+michaelbrusegard@users.noreply.github.com>
#Arman
Arman Nemati <armanin@stud.ntnu.no>
#David
David Salguero Spilde <davidssp@stud.ntnu.no>
#SemanticRelease
semantic release bot <semantic-release-bot@martynus.net>