#Erlend
Erlend Løken Sæveraas <erlenlsa@stud.ntnu.no>
#Michael
Michael Brusegard <michbrus@stud.ntnu.no>
#Arman
Arman Nemati <armanin@stud.ntnu.no>
#David
David Salguero Spilde <davidssp@stud.ntnu.no>
#SemanticRelease
semantic release bot <semantic-release-bot@martynus.net>